[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
apscheduler = "*"
celery = "*"
django-extensions = "*"
gunicorn = "*"
whitenoise = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
requests = "*"
pipfile = "*"
pyserial = "*"
ipython = "*"
ipython3 = "*"

[requires]
python_version = "3.7"
